*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
    color: rgb(8, 8, 8);
    Line-height:1.6;
}

#showcase{
    background-image:url('../img/LandingPage.jpg');
    background-size: cover;
    background-position: center;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.349);

}

#showcase h1{
    font-size: 50px;
    line-height: 1.2;
}

#showcase p{
    font-size: 20px;
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: #C35817;
    border: #C35817 1px solid;
    padding:10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover{
    background-color: #C35817;
    color:#fff;
}

.orange-block{
    margin: 10px;
    padding:20px;
    border-radius: 15px;
    background: #C35817;
    color: white;
    text-align: center;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.349);
}

.orange-text{
    margin:10px;
    padding:20px;
    border-radius: 15px;
    background: rgb(219, 214, 210);
    text-align: center;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.349);
}

#div-c{
    display: flex;
}
/* 
#div-c div{
    padding:20px;
}

#div-c .box-1, #div-c .box-3{
    background: #C35817;
    color:#fff;
}

#div-c .box-2{
    background: rgb(230, 220, 220);
}

#div-c .box-1, #div-c .box-3, #div-c .box-2{
    border-radius: 10px;
} */